#naslov 
{
	text-align: center;
	background-color: #80bfff;
	padding: 10px;
	height: 10%;
	color: white;
	
}

body {
	margin: 0;
	background-color: #0066cc;
	background-image: url("pocetna_slika.jpg");
	background-repeat: no-repeat;
}
.slika11
{
	width: 90%;
}
#dobrodoslica
{
	color: white;
	font-size: 500%;
	float: left;
	width: 60%;
	padding-left: 5%;
	
}
h3
{
	color: white;
}
#ocjenjivanje_stranice
{
	height: 80%;
	float: right;
	width: 20%;
	padding-right: 5%
	
	
}

.ocjene
{
	color:white;
}
.slika12
{
	width: 90%;
}
.slika13
{
	width: 90%;
}
.container {
	width: 800px;
	min-width: 100%;
}


p
{
	color: white;
}
#slika1
{
	height: 95%;
	width: 90%;
	float: left;
}
.lista li a.selektovan {
    background-color: #80bfff;
}
.lista 
{
	margin: 0;
    padding: 0;
	overflow: hidden;
	list-style-type: none;
	background-color: white;
}
.lista li {
    float: left;
	border-right: 2px solid #bbb;
	background-color: white;
	padding: 10px;
}
#meni
{
	min-width: 100%;
	height: 10%;
}


.red1
{
	width: 100%;
	
}
.galerija
{
	width: 30%;
	padding: 1%;
	float:left;
	
}
.galerijaslika
{
	max-width: 100%;
}

.tekst1
{
	float: left;
	width: 50%;
}
.autoportret
{
	float: right;
	max-width:40%;
	width: 400px;
	padding-right: 7%;
	padding-left: 3%;
	
}
.mojaslika
{
	width: 90%;
}
@media (max-width: 600px) 
{
	.lista li a 
	{
		font-size: 150%;
		color: green;
	}
}
